/* #root {
  margin: 20px;
} */
body {
  padding: 0px;
  margin: 0px;
}
:root {
  --headingColor: #495057;
  --SubHeadingColor: #7a7a7a;
  --ButtonOneColor: #ff7a57;
  --ButtonTwoColor: #343a40;
  --font: "Roboto", sans-serif;
  --BoxColor: #ff7a57;
}
.progressbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media only screen and (min-width: 320px) and (max-width: 460px) {
  .hero-section {
    flex-direction: column;
    height: 75vh;
  }
  .intro {
    width: 100%;
    display: block;
    padding: 55px 40px;
  }
  .intro h1 {
    font-size: 25px;
    line-height: 0px;
  }
  .pweb {
    width: 70%;
    display: block;
    margin: 30px 0px;
  }
  .phello p {
    font-size: 16px;
  }
  .pweb p {
    font-size: 20px;
  }

  .btn {
    width: 100%;
    display: flex;
    align-items: end;
    height: 27vh;
  }
  .info-area {
    flex-direction: column;
    padding: 10px 25px;
    width: 83%;
  }
  /* hidding imagee from into-image and adding the image in intro */
  .intro-img {
    display: none;
  }
  .intro {
    background-image: url(./assets/man.svg);
    background-repeat: no-repeat;
    background-position: 95px 80px;
    background-size: 297px auto;
  }
  .info-content {
    width: 100%;
  }
  .info-image {
    width: 100%;
    margin: 10px 0px;
  }
  .info-image img {
    width: 100%;
  }
  .boxes {
    flex-direction: column;
    margin: 120px 0px;
  }
  .Skills-Des {
    width: 92%;
    padding: 10px;
  }
  .Skills-Des p {
    width: 100%;
  }
  .progressbar {
    width: 100%;
    display: inline-block;
  }
  .skills {
    width: 50%;
  }
  /* header responsive code  */
  .heading {
    padding: 10px 5px;
  }
  .menu {
    justify-content: start;
  }
  .menu a {
    font-size: 12px;
    padding: 11px;
  }
  .heading img {
    width: 55px;
    height: 51px;
    padding: 1px 27px;
  }
}
